#esa-sorter-key-selector {
  padding: 10px;
  display: flex;
  opacity: 0.7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  user-select: none;
}
#esa-sorter-sort-icon {
  color: #FFFFFF;
  padding-right: 5px;
}
.sortable-ghost {
  opacity: 0.3;
}